* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

.icon-bar {
    width: 100px;
    position: absolute;
    align-self: center;
    margin: 10px;
    top: 50%;
    translate: 0 -50%;
    position: fixed;
}

.icon img {
    width: 80px;
    position: relative;
    display: block;
    padding: 8px;
    transition: all 0.3s ease;
}

.icon-bar img:hover {
    background-color: #a6a6a6;
    border-radius: 100%;
}

.icon-text {
    display: none;        
}

a:hover .icon-text {
    display: block;
}

.menu {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.box-size{
    width: 120%;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    border-radius: 20px;
    background-color: #ebedee;
    text-align: center;
    z-index: +1;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}