* {
  /* Calculo automatico de px que os objetos vão ocupar no espaço */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: azure;
  /* Coloca cor no background (fundo) */
  text-align: center;
  /* Alinhamento do texto */
}

.fundo-vermelho {
  /* Para chamar uma classe coloco o ponto primeiro */
  background-color: #ff9d95;
  /* width: 50%; */
  /* Largura/heigth-Altura */
  text-align: justify;
}

.letra-branca {
  color: white;
}

#fundo-roxo {
  /* Para chamar um IDS uso # */
  background-color: #d2a8d4;
}

h1 {
  color: white;
  /* Isso coloca cor no grupo h1 em CSS */
}

body {
  color: azure;
  /* background-color: white; */
  /* Isto muda a cor de fundo da tela, "background" */
  font-family: "Roboto", sans-serif;
  /* Isto altera o tipo de fonte utilizado no site */
  background-image: url(../Fotos/pexels-roberto-nickson-2559941.jpg);
  /* Isto coloca uma imagme de fundo */
  background-repeat: no-repeat;
  /* Isto repete ou não o seu background */
  background-position: center center;
  /* Isto define a posição de uma imagem */
  background-attachment: fixed;
  /* Isto faz com que a imagem de fundo me siga */
  background-size: cover;
  /* Isto faz com que a imagem cubra toda a superficie do site */
}

a:hover {
  /* Isto coloca uma cor de fundo aou passar o mouse */
  color: #676669;
}

table,
th,
td {
  border: 0px;
  /* Isto define a borda da tabela */
  /* border-collapse: collapse; */
  border-radius: 10px;
  /* Define um radio para as bordas da tabela */
  /* background-color: #96D4D4; */
  color: black;
}

table {
  width: 100%;
  /* Define quanto da ecala "largura" deve ocupar */
  border-spacing: 10px;
  /* Espaçamento de borda */
}

th,
td {
  background-color: #96d4d4;
  padding: 5px;
  /* Espaçamento Interno */
}

td {
  text-align: center;
  /* Alinhamento de texto */
}

caption {
  color: black;
}

td:hover

/* Es un pseudo-selector - passar o mause em sima */ {
  background-color: beige;
}

article {
  color: tomato;
  text-align: justify;
}

#teste-overflow {
  border: 1px solid #676669;
  width: 30%;
  height: 50px;
  overflow: auto;
  /* Cria uma caicha de rolagem se a div não for suficiente para conter o texto */
}

.conteiner {
  width: 100%;
  height: 300px;
  background-color: black;
  position: relative;
}

#topo-esq {
  position: absolute;
  top: 0;
  left: 0;
}

#topo-dir {
  position: absolute;
  top: 0;
  right: 0;
}

#centro {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}

#baixo-esq {
  position: absolute;
  bottom: 0;
  left: 0;
}

#baixo-dir {
  position: absolute;
  bottom: 0;
  right: 0;
}

#opacidade {
  opacity: 0.1;
}

#opacidade:hover {
  opacity: 1;
}
